##
## Web content templates are used to lay out the fields defined in a
## web content structure.
##
## Please use the left panel to quickly add commonly used variables.
## Autocomplete is also available and can be invoked by typing "$".
##
#set($blockStyle = "block-transparent")
#if($Background && $Background.getData() != '')
    #set($blockStyle = "block-$Background.getData()")
#end

<div class="pull-left block-holder">
    <div class="span10">
        <div class="benecol-module $blockStyle block-img-right">
            <div class="module-content">
                <div class="image-holder span6 block-right">
                    <img src="$Image.getData()"/>
                </div>
                <div class="content-holder span6 block-left">
                    <div class="content-holder-block">
                        #if($Title && $Title.getData() != '')
                            <h2 class="module-title">$Title.getData()</h2>
                        #end
                        $Content.getData()
                    </div>
                    #if($Link && $Link.getData() != '')
                        <div class="block-action-btn">
                            <a href="$Link.getData()" class="btn btn-primary $Link.Alignment.getData()">$Link.LinkText.getData()</a>
                        </div>
                    #end
                </div>
            </div>
        </div>
    </div>
</div>